Repository owncloud/testing, pull requests merged in 2019-08, with the labels that each got.

#107 Fix code style
  appinfo/routes.php
Labels: 3 - To Review, QA-team

#108 allow to set files property by id
  lib/FilesProperties.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#109 Use only 1 var in when matrix of drone
  .drone.yml
Labels: 4 - To Release, Drone, QA-team

#110 Add unit tests on PHP 7.3
  .drone.yml
Labels: 3 - To Review, Drone, QA-team
