Repository owncloud/testing, pull requests merged in 2019-10, with the labels that each got.

#115 Initial drone starlark
  .drone.starlark
  .drone.yml
Labels: 4 - To Release, Drone, QA-team

#118 Update drone starlark with latest code 20191011
  .drone.starlark
Labels: 3 - To Review, Drone, QA-team

#119 drone notify on failure
  .drone.starlark
  .drone.yml
  vendor-bin/php_codesniffer/composer.json
Labels: 3 - To Review, Drone, QA-team

#120 Do not fail if Federation app is not enabled
  appinfo/routes.php
  lib/TrustedServersHandler.php
  tests/acceptance/features/apiTestingApp/trustedServer.feature
Labels: 3 - To Review, QA-team
