Repository owncloud/testing, pull requests merged in 2019-07, with the labels that each got.

#100 Run tests against latest stable release of core
  .drone.yml
Labels: 3 - To Review, Drone, QA-team

#101 Add routes to add delete and retrieve trusted servers
  .phan/config.php
  appinfo/routes.php
  lib/TrustedServersHandler.php
  tests/acceptance/features/apiTestingApp/trustedServer.feature
  tests/acceptance/features/bootstrap/TestingAppContext.php
Labels: 4 - To Release, QA-team, enhancement

#106 Remove stable10 test jobs
  .drone.yml
Labels: 3 - To Review, Drone, QA-team

#105 endpoint to manipulate files properties
  appinfo/routes.php
  lib/FilesProperties.php
Labels: 4 - To Release, QA-team, dev:acceptance-tests
