Repository owncloud/testing, pull requests merged in 2020-01, with the labels that each got.

#130 Fix failing tests due to change in core steps: add table headings
  tests/acceptance/features/apiTestingApp/notifications.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#133 move function to "set last login date" to feature context
  tests/acceptance/features/bootstrap/TestingAppContext.php
Labels: 3 - To Review, QA-team

#134 [Tests-only] Fix method calls for changes to feature context in core
  tests/acceptance/features/bootstrap/TestingAppContext.php
Labels: 4 - To Release, QA-team, dev:acceptance-tests
